body {
    text-align: center;
}
p {
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.3em;
}
img {
    margin-top: 1em;
    margin-bottom: 1em;
}
a {
    display: block;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: rgb(240, 181, 105);
    color: #fff;
    text-decoration: none;
}
a:hover {
    background-color: transparent;
    border: 2px solid rgb(240, 181, 105);
    color: rgb(240, 181, 105);
}